In [1]:
# import libraries

import numpy as np
import pandas as pd
import requests
from datetime import timedelta, datetime
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
from sklearn.model_selection import train_test_split
from scipy import stats

# import functions

from acquire import read_csv
from prepare import missing_values_table

In [2]:
df = read_csv()

In [3]:
df.head(2)

,Month,State,Genus Species,Serotype or Genotype,Etiology Status,Location of Preparation,Illnesses,Hospitalizations,Deaths,Food Vehicle,Contaminated Ingredient
Year,,,,,,,,,,,
2009,1,Minnesota,Norovirus,NaN,Suspected,Restaurant - Sit-down dining,2,0.0,0.0,NaN,NaN
2009,1,Minnesota,Norovirus,NaN,Confirmed,NaN,16,0.0,0.0,NaN,NaN

In [4]:
df.shape

(19119, 11)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19119 entries, 2009 to 2015
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Month                    19119 non-null  int64
 1   State                    19119 non-null  object
 2   Genus Species            12500 non-null  object
 3   Serotype or Genotype     3907 non-null   object
 4   Etiology Status          12500 non-null  object
 5   Location of Preparation  17984 non-null  object
 6   Illnesses                19119 non-null  int64
 7   Hospitalizations         15494 non-null  float64
 8   Deaths                   15518 non-null  float64
 9   Food Vehicle             10156 non-null  object
 10  Contaminated Ingredient  1876 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 1.8+ MB

In [6]:
df.describe()

              Month     Illnesses  Hospitalizations        Deaths
count  19119.000000  19119.000000      15494.000000  15518.000000
mean       6.433443     19.537162          0.947528      0.021717
std        3.432970     49.452417          5.312772      0.386976
min        1.000000      2.000000          0.000000      0.000000
25%        4.000000      3.000000          0.000000      0.000000
50%        6.000000      8.000000          0.000000      0.000000
75%        9.000000     19.000000          1.000000      0.000000
max       12.000000   1939.000000        308.000000     33.000000

In [7]:
df.Deaths.value_counts()

0.0     15342
1.0       125
2.0        27
3.0         9
7.0         3
5.0         3
4.0         3
6.0         2
21.0        1
33.0        1
9.0         1
8.0         1
Name: Deaths, dtype: int64

In [8]:
missing_values_table(df)

Your selected dataframe has 11 columns and 19119 Rows.
There are 8 columns that have NULL values.

,Zero Values,null_count,% of Total Values,Total Zeroes + Null Values,% Total Zero + Null Values,Data Type
Contaminated Ingredient,0,17243,90.2,17243,90.2,object
Serotype or Genotype,0,15212,79.6,15212,79.6,object
Food Vehicle,0,8963,46.9,8963,46.9,object
Genus Species,0,6619,34.6,6619,34.6,object
Etiology Status,0,6619,34.6,6619,34.6,object
Hospitalizations,11439,3625,19.0,15064,78.8,float64
Deaths,15342,3601,18.8,18943,99.1,float64
Location of Preparation,0,1135,5.9,1135,5.9,object
Month,0,0,0.0,0,0.0,int64
State,0,0,0.0,0,0.0,object
Illnesses,0,0,0.0,0,0.0,int64

In [9]:
df.columns.to_list()

['Month',
 'State',
 'Genus Species',
 'Serotype or Genotype',
 'Etiology Status',
 'Location of Preparation',
 'Illnesses',
 'Hospitalizations',
 'Deaths',
 'Food Vehicle',
 'Contaminated Ingredient']

In [10]:
# rename all columns
df.columns = ['month', 'state', 'genus_species', 'serotype_or_genotype', 'etiology_status', 'location_of_preparation', 'illnesses', 'hospitalizations',
             'deaths', 'food_vehicle', 'contaminated_ingredient']

In [11]:
df.head()

,month,state,genus_species,serotype_or_genotype,etiology_status,location_of_preparation,illnesses,hospitalizations,deaths,food_vehicle,contaminated_ingredient
Year,,,,,,,,,,,
2009,1,Minnesota,Norovirus,NaN,Suspected,Restaurant - Sit-down dining,2,0.0,0.0,NaN,NaN
2009,1,Minnesota,Norovirus,NaN,Confirmed,NaN,16,0.0,0.0,NaN,NaN
2009,1,Minnesota,Norovirus,NaN,Suspected,Restaurant - Sit-down dining,5,0.0,0.0,NaN,NaN
2009,1,Minnesota,Norovirus,NaN,Confirmed,"Restaurant - ""Fast-food""(drive up service or pay at counter)",3,0.0,0.0,NaN,NaN
2009,1,Minnesota,Norovirus,NaN,Confirmed,Restaurant - other or unknown type,21,0.0,0.0,cookies,NaN

In [12]:
df.genus_species.value_counts()

Norovirus Genogroup I                             2744
Salmonella enterica                               2303
Norovirus Genogroup II                            1424
Norovirus unknown                                  790
Clostridium perfringens                            732
                                                  ...
Clostridium perfringens; Norovirus Genogroup I       1
Clostridium perfringens; Salmonella enterica         1
Vibrio vulnificus                                    1
Ciguatoxin; Staphylococcus aureus                    1
Campylobacter jejuni; Bacillus cereus                1
Name: genus_species, Length: 204, dtype: int64

In [13]:
df.serotype_or_genotype.value_counts()

unknown                    686
Enteritidis                682
O157:H7                    411
Typhimurium                279
Newport                    168
                          ...
GI_1;                        1
Newport; Javiana             1
Rissen                       1
Agona; Infantis; Derby       1
Wandsworth; Typhimurium      1
Name: serotype_or_genotype, Length: 260, dtype: int64

- will drop serotype column

In [14]:
df.contaminated_ingredient.value_counts()

fin fish                        190
chicken                         179
beef                            124
egg                             119
pork                            105
                               ...
shellfish; sauces/ dressings      1
cheese; legume                    1
carrots                           1
nuts; nuts, almonds               1
liver, goose                      1
Name: contaminated_ingredient, Length: 381, dtype: int64

- too many nulls on contaminated ingredient, this column will need to be dropped
- would have been nice to be able to use this to see if there was a commonality between illness and food type but too many blanks to work with.
- will need to focus on food vehicle and see if there is a link between illness and where food is prepared

In [15]:
df.etiology_status.value_counts()

Confirmed                                                                                                                                        7909
Suspected                                                                                                                                        4068
Suspected; Suspected                                                                                                                              310
Confirmed; Confirmed                                                                                                                              133
Confirmed; Suspected                                                                                                                               32
Confirmed; Confirmed; Confirmed                                                                                                                    17
Suspected; Confirmed                                                                                                                                7
Confirmed; Suspected; Suspected                                                                                                                     4
Confirmed; Confirmed; Suspected                                                                                                                     3
Suspected; Suspected; Suspected                                                                                                                     3
Confirmed; Suspected; Confirmed                                                                                                                     2
Confirmed; Confirmed; Confirmed; Confirmed; Confirmed; Confirmed                                                                                    2
Confirmed; Confirmed; Confirmed; Confirmed; Suspected                                                                                               1
Confirmed; Confirmed; Confirmed; Confirmed; Confirmed; Suspected; Suspected; Suspected; Suspected; Suspected; Suspected; Suspected; Suspected       1
Suspected; Suspected; Suspected; Suspected; Suspected                                                                                               1
Confirmed; Suspected; Confirmed; Confirmed; Confirmed; Confirmed; Confirmed                                                                         1
Suspected; Suspected; Confirmed; Suspected; Suspected; Confirmed                                                                                    1
Suspected; Confirmed; Confirmed                                                                                                                     1
Suspected; Suspected; Confirmed; Suspected                                                                                                          1
Confirmed; Confirmed; Suspected; Confirmed                                                                                                          1
Suspected; Suspected; Suspected; Suspected                                                                                                          1
Confirmed; Confirmed; Suspected; Suspected                                                                                                          1
Name: etiology_status, dtype: int64

- majority of cases were confirmed to be caused by bacteria. Will need to create a dummy's feature but first need to change if majority of cases are confirmed, then the whole column is confirmed.

In [16]:
df.head(1)

,month,state,genus_species,serotype_or_genotype,etiology_status,location_of_preparation,illnesses,hospitalizations,deaths,food_vehicle,contaminated_ingredient
Year,,,,,,,,,,,
2009,1,Minnesota,Norovirus,NaN,Suspected,Restaurant - Sit-down dining,2,0.0,0.0,NaN,NaN

In [17]:
df.food_vehicle.value_counts()

multiple foods                                                    206
oysters, raw                                                      165
ground beef, hamburger                                            127
salad, unspecified                                                118
chicken, unspecified                                              105
                                                                 ...
antipasto; unspecified fruit                                        1
hot dog, unspecified; soda, unspecified                             1
ground beef, hamburger; sausage, bratwurst; bread, unspecified      1
chicken stir fry                                                    1
cereal, unspecified                                                 1
Name: food_vehicle, Length: 3127, dtype: int64

<h3>Notes</h3>

I need to create a unique index as year isn't going to work since it appears I have duplicate columns

In [18]:
df[df.index.duplicated()].head()

,month,state,genus_species,serotype_or_genotype,etiology_status,location_of_preparation,illnesses,hospitalizations,deaths,food_vehicle,contaminated_ingredient
Year,,,,,,,,,,,
2009,1,Minnesota,Norovirus,NaN,Confirmed,NaN,16,0.0,0.0,NaN,NaN
2009,1,Minnesota,Norovirus,NaN,Suspected,Restaurant - Sit-down dining,5,0.0,0.0,NaN,NaN
2009,1,Minnesota,Norovirus,NaN,Confirmed,"Restaurant - ""Fast-food""(drive up service or pay at counter)",3,0.0,0.0,NaN,NaN
2009,1,Minnesota,Norovirus,NaN,Confirmed,Restaurant - other or unknown type,21,0.0,0.0,cookies,NaN
2009,1,Minnesota,Norovirus,NaN,Confirmed,Restaurant - other or unknown type,7,0.0,0.0,"salad, unspecified",NaN

In [19]:
df = df.reset_index()

### NEW FEATURES

- create a column called "was_hospitalized" that creates a binary column
-

In [21]:
df[df["hospitalizations"] > 0]

,Year,month,state,genus_species,serotype_or_genotype,etiology_status,location_of_preparation,illnesses,hospitalizations,deaths,food_vehicle,contaminated_ingredient
7,2009,2,Minnesota,Norovirus Genogroup II,NaN,Suspected,Restaurant - other or unknown type,22,1.0,0.0,mushrooms; pasta salad; fruit,NaN
9,2009,2,Minnesota,Campylobacter jejuni,NaN,Confirmed,Restaurant - other or unknown type,11,2.0,0.0,"lettuce, unspecified",NaN
17,2009,1,Illinois,Norovirus Genogroup II,NaN,Confirmed,Restaurant - other or unknown type,26,1.0,0.0,"cake, chocolate",NaN
20,2009,1,Illinois,Salmonella enterica,Enteritidis,Confirmed,Grocery store; Other (describe in remarks),7,2.0,0.0,NaN,NaN
29,2009,3,Illinois,Norovirus Genogroup II,NaN,Confirmed,Restaurant - Sit-down dining; Caterer (food prepared off-site from where served),22,1.0,0.0,chicken salad,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
19108,2015,12,Multistate,Salmonella enterica,Virchow,Confirmed,Private home/residence,35,6.0,0.0,powder meal replacement,moringa leaf powder
19109,2015,5,Multistate,Cyclospora cayatenensis,NaN,Confirmed,Restaurant - Sit-down dining; Restaurant - other or unknown type,90,3.0,0.0,"cilantro, unspecified",NaN
19114,2014,12,Idaho,Cryptosporidium,NaN,Confirmed,Farm/dairy,4,1.0,0.0,"milk, unpasteurized",NaN
19116,2015,9,Idaho,"Campylobacter jejuni; Escherichia coli, Shiga toxin-producing",O157:H7,Confirmed; Confirmed,Farm/dairy,15,3.0,0.0,"milk, unpasteurized",NaN
19118,2015,12,Utah,Salmonella enterica,Virchow,Confirmed,Private home/residence,3,1.0,0.0,meal replacement powder,NaN